<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>Adrian Dolca | Curriculum Vitae</title>
    <meta content="Adrian Dolca" name="author">
    <meta content="{% translate "Junior Web Developer, Entrepreneur and Real Estate Consultant with a passion for technology and innovation. Strong experience in web development, automating administrative tasks and effective team collaboration. Graduate of the Software Development Academy, specialized in Python and hands-on experience in Django, SQL and web application development." %}" name="description">
    <meta content="adrian dolca, curriculum vitae, cv, python, django, sql, html, css, javascript, leadership, {% translate "web development, automation, real estate consultant, entrepreneurship, musician, team collaboration, problem-solving, creativity" %}" name="keywords">
    
    <!-- Favicons -->
    <link href="{% static "img/favicon.png" %}" rel="icon">
    <link href="{% static "img/apple-touch-icon.png" %}" rel="apple-touch-icon">
    
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
          rel="stylesheet">
    
    <!-- Vendor CSS Files -->
    <link href="{% static "vendor/aos/aos.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/bootstrap-icons/bootstrap-icons.css" %}" rel="stylesheet">
    <link href="{% static "vendor/boxicons/css/boxicons.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/glightbox/css/glightbox.min.css" %}" rel="stylesheet">
    <link href="{% static "vendor/swiper/swiper-bundle.min.css" %}" rel="stylesheet">
    
    <!-- Template Main CSS File -->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
</head>

<body>

<!-- ======== Mobile nav toggle button ======== -->
<i class="bi bi-list mobile-nav-toggle d-lg-none"></i>

<!-- ======== Header ======== -->
<header id="header" class="d-flex flex-column justify-content-center">
    <nav id="navbar" class="navbar nav-menu">
        <ul>
            <li><a href="#hero" class="nav-link scrollto active"><i 
                    class="bx bx-home"></i> <span>{% translate "Home" %}</span></a></li>
            <li><a href="#about" class="nav-link scrollto"><i 
                    class="bx bx-user"></i> <span>{% translate "About" %}</span></a></li>
            <li><a href="#resume" class="nav-link scrollto"><i 
                    class="bx bx-file"></i> <span>{% translate "Resume" %}</span></a></li>
            <li><a href="#portfolio" class="nav-link scrollto"><i 
                    class="bx bx-book-content"></i> <span>{% translate "Portfolio" %}</span></a></li>
            <li><a href="#services" class="nav-link scrollto"><i 
                    class="bx bx-server"></i> <span>{% translate "Services" %}</span></a></li>
            <li><a href="#contact" class="nav-link scrollto"><i 
                    class="bx bx-envelope"></i> <span>Contact</span></a></li>
            <li><a href="/en/" class="language-button"><img src="{% static "img/flags/gb.svg" %}" alt="">
                <span>{% translate "English" %}</span></a></li>
            <li><a href="/ro/" class="language-button"><img src="{% static "img/flags/ro.svg" %}" alt="">
                <span>{% translate "Romanian" %}</span></a></li>
        </ul>
    </nav><!-- .nav-menu -->
</header><!-- End Header -->

<!-- ======== Hero Section ======== -->
<section id="hero" class="d-flex flex-column justify-content-center">
    <div class="container" data-aos="zoom-in" data-aos-delay="100">
        <h1>Adrian Dolca</h1>
        <p>{% translate "I'm" %} <span class="typed" 
                     data-typed-items="{% translate "Junior Web Developer" %}, {% translate "Entrepreneur" %} | CEO, {% translate "Real Estate Consultant" %}, {% translate "Musician" %}"></span>
        </p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/adrian-dolca/" target="_blank" class="linkedin" title="LinkedIn"><i 
                    class="bx bxl-linkedin"></i></a>
            <a href="https://t.me/adrian_dolca" target="_blank" class="telegram" title="Telegram"><i 
                    class="bx bxl-telegram"></i></a>
            <a href="https://github.com/dolca/" target="_blank" class="github" title="GitHub"><i 
                    class="bx bxl-github"></i></a>
        </div>
    </div><!-- End container -->
</section><!-- End Hero -->

<main id="main">
    
    <!-- ======== About Section ======== -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">
            
            <div class="section-title">
                <h2>{% translate "About" %}</h2>
                <p>{% translate "I define myself as a person who develops and evolves through hard work and a passion for continuous learning. I am meticulous in organization, detail-oriented and an effective collaborator, adding value to any team due to my excellent communication and collaboration skills." %}</p>
            </div>
            
            <div class="row">
                
                <div class="col-lg-4">
                    <img src="{% static "img/profile-img.jpg" %}" class="img-fluid" alt="Adrian Dolca profile image">
                </div>
                
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>{% translate "Junior Web Developer" %}</h3>
                    <p class="fst-italic">
                        "{% translate "Everything goes exactly the way you want it to, when you don't know you can't." %}"
                    </p>
                    
                    <div class="row">
                        
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>{% translate "Birthday" %}:</strong>
                                    <span>{% translate "1 October 1991" %}</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>{% translate "Age" %}:</strong>
                                    <span>32</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>{% translate "Courses" %}:</strong>
                                    <span>Python | SDA {% translate "Romania" %}</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>{% translate "Degree" %}:</strong>
                                    <span>{% translate "University" %}</span></li>
                            </ul>
                        </div>
                        
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-chevron-right"></i> <strong>E-mail:</strong>
                                    <span><a href="mailto:contact@adrian-dolca.ro" title="contact@adrian-dolca.ro">
                                        contact@adrian-dolca.ro</a></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>{% translate "Phone" %}:</strong>
                                    <span><a href="tel:+40758767044" title="+40 758 767 044">+40 758 767 044</a></span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>{% translate "Current City" %}:</strong>
                                    <span>Târgu Mureș, Mureș</span></li>
                                <li><i class="bi bi-chevron-right"></i> <strong>{% translate "Freelance" %}:</strong>
                                    <span>{% translate "Available" %}</span></li>
                            </ul>
                        </div>
                        
                    </div>
                    <p>{% translate "I am an open and empathetic person, able to understand and connect with different perspectives and find smart solutions in complex situations. I like challenges and aim to approach them with optimism and determination, seeing every obstacle as an opportunity for personal growth and development. I am confident in my abilities to come up with new ideas and find innovative solutions." %}</p>
                </div>
                
            </div>
            
        </div><!-- End container -->
    </section><!-- End About Section -->
    
    <!-- ======== Facts Section ======== -->
    <section id="facts" class="facts">
        <div class="container" data-aos="fade-up">
            
            <div class="section-title">
                <h2>{% translate "Facts" %}</h2>
                <p>{% translate "I have a passion for creativity and innovation, always looking to combine traditional solutions with fresh and unconventional ideas to solve the situations I face. I am an enthusiast of interdisciplinary collaboration and exchange of ideas, believing that diversity of perspectives brings value and innovation to any project." %}</p>
            </div>
            
            <div class="row">
                
                <div class="col-lg-3 col-md-6">
                    <div class="count-box">
                        <i class="bi bi-code-slash"></i>
                        <span data-purecounter-start="0" data-purecounter-end="10000" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>{% translate "lines of code" %}</p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                    <div class="count-box">
                        <i class="bi bi-clock-history"></i>
                        <span data-purecounter-start="0" data-purecounter-end="2000" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>{% translate "hours of coding" %}</p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-journal-code"></i>
                        <span data-purecounter-start="0" data-purecounter-end="2" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>{% translate "personal projects" %}</p>
                    </div>
                </div>
                
                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                    <div class="count-box">
                        <i class="bi bi-bar-chart"></i>
                        <span data-purecounter-start="0" data-purecounter-end="100" data-purecounter-duration="1"
                              class="purecounter"></span>
                        <p>{% translate "percent dedicated" %}</p>
                    </div>
                </div>
                
            </div>
            
        </div><!-- End container -->
    </section><!-- End Facts Section -->
    
    <!-- ======== Skills Section ======== -->
    <section id="skills" class="skills section-bg">
        <div class="container" data-aos="fade-up">
            
            <div class="section-title">
                <h2>{% translate "Skills" %}</h2>
                <p>{% translate "I am a results-oriented person with a pragmatic and practical approach to tasks and projects, always looking for effective and tangible solutions. I take responsibility and commitment in everything I do, always putting quality and excellence first and seeking to achieve my goals with determination and perseverance." %}</p>
            </div>
            
            <div class="row skills-content">
                <div class="col-lg-6">
                    
                    <div class="progress">
                        <span class="skill">Python (PyCharm, VS Code) <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100" title="Python"></div>
                        </div>
                    </div>
                    
                    <div class="progress">
                        <span class="skill">Django <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100" title="Django"></div>
                        </div>
                    </div>
                    
                    <div class="progress">
                        <span class="skill">{% translate "SQL databases" %} (Postgres, MySQL) <i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" title="SQL"></div>
                        </div>
                    </div>
                    
                </div>
                
                <div class="col-lg-6">
                    
                    <div class="progress">
                        <span class="skill">HTML <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100" title="HTML"></div>
                        </div>
                    </div>
                    
                    <div class="progress">
                        <span class="skill">CSS <i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100" title="CSS"></div>
                        </div>
                    </div>
                    
                    <div class="progress">
                        <span class="skill">JavaScript <i class="val">50%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="100" title="JavaScript"></div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div><!-- End container -->
    </section><!-- End Skills Section -->
    
    <!-- ======== Resume Section ======== -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">
            
            <div class="section-title">
                <h2>{% translate "Resume" %}</h2>
                <p>{% translate "I like to challenge myself and get out of my comfort zone, always looking to learn new things and constantly improve my skills in various areas." %}</p>
            </div>
            
            <div class="row">
                <div class="col-lg-6">
                    
                    <h3 class="resume-title">{% translate "Summary" %}</h3>
                    <div class="resume-item pb-0">
                        <h4>Adrian Dolca</h4>
                        <p><em>{% translate "Born in Sighetu Marmației, Maramureș, with solid principles, a meticulous approach and great attention to detail, I define myself as a dedicated perfectionist, motivated to achieve excellence in every aspect of my activities." %}</em></p>
                        <ul>
                            <li>{% translate "Current City" %}: Târgu Mureș, Mureș</li>
                            <li>E-mail: <a href="mailto:contact@adrian-dolca.ro" title="contact@adrian-dolca.ro">
                                contact@adrian-dolca.ro</a></li>
                            <li>{% translate "Phone" %}: <a href="tel:+40758767044" title="+40 758 767 044">
                                +40 758 767 044</a></li>
                        </ul>
                    </div>
                    
                    <h3 class="resume-title">{% translate "Known Languages" %}</h3>
                    <div class="resume-item pb-1">
                        <h4>{% translate "English" %}</h4>
                        <ul>
                            <li>B1 ({% translate "Pre-Intermediate" %})</li>
                        </ul>
                    </div>
                    <div class="resume-item pb-0">
                        <h4>{% translate "Italian" %}</h4>
                        <ul>
                            <li>A2 ({% translate "Elementary" %})</li>
                        </ul>
                    </div>
                    
                    <h3 class="resume-title">{% translate "Education" %}</h3>
                    <div class="resume-item">
                        <h4>{% translate "Python from Scratch" %}</h4>
                        <h5>{% translate "May 2023 - February 2024" %}</h5>
                        <p><em><a href="https://sdacademy.ro/" target="_blank" title="www.sdacademy.ro">
                            Software Development Academy (SDA) {% translate "Romania" %}</a></em></p>
                        <ul>
                            <li>{% translate "I learned to use the Python language and work with various technologies based on it, as well as manage code versions using the Git system and GitHub" %}</li>
                            <li>{% translate "I also gained practical knowledge in working with SQL databases, understanding their fundamental principles and how to interact with them" %}</li>
                            <li>{% translate "In addition, I learned essential aspects of the HTTP protocol and acquired basic skills in developing and styling web pages using HTML, CSS and JavaScript" %}</li>
                            <li>{% translate "I also explored the Django framework, which gave me a hands-on insight into web application development in Python, facilitating efficient database management and the creation of complex and scalable web applications" %}</li>
                        </ul>
                    </div>
                    
                    <div class="resume-item">
                        <h4>{% translate "Musical Pedagogy" %}</h4>
                        <h5>{% translate "October 2010 - July 2013" %}</h5>
                        <p><em>{% translate "National Academy of Music" %} "Gh. Dima", Cluj-Napoca</em></p>
                        <ul>
                            <li>{% translate "I acquired solid skills in planning and presenting lessons adapted to the individual needs of students, as well as in evaluating their musical progress" %}</li>
                            <li>{% translate "I also developed skills in managing classrooms and communicating effectively with students of different ages and skill levels, thereby facilitating a stimulating and inspiring learning environment" %}</li>
                        </ul>
                    </div>
                    
                </div>
                
                <div class="col-lg-6">
                    
                    <h3 class="resume-title">{% translate "Professional Experience" %}</h3>
                    <div class="resume-item">
                        <h4>{% translate "Real Estate Consultant" %} &amp; CEO</h4>
                        <h5>{% translate "November 2022 - Present" %}</h5>
                        <p><em>Gold Vision {% translate "Real Estate" %}, Târgu Mureș</em></p>
                        <ul>
                            <li>{% translate "Excellent communication skills, facilitating sales and purchase processes and assisting the team in achieving goals" %}</li>
                            <li>{% translate "Strong leadership and the ability to motivate and guide team members to success by coaching and developing their sales skills" %}</li>
                            <li>{% translate "Proactive and customer-oriented attitude, ensuring effective and attentive management of customer relationships and meeting their needs adequately" %}</li>
                            <li>{% translate "Excellent organizational skills and attention to detail, ensuring efficient and accurate management of the financial and contractual aspects of the company" %}</li>
                        </ul>
                    </div>
                    
                    <div class="resume-item">
                        <h4>{% translate "Real Estate Broker" %}</h4>
                        <h5>{% translate "October 2021 - October 2022" %}</h5>
                        <p><em>BLITZ {% translate "Real Estate" %}, Târgu Mureș</em></p>
                    </div>
                    
                    <div class="resume-item">
                        <h4>{% translate "HoReCa Sales Agent" %}</h4>
                        <h5>{% translate "October 2017 - February 2019" %}</h5>
                        <p><em>West Beverages {% translate "Distribution" %}, Timișoara</em></p>
                    </div>
                    
                    <div class="resume-item">
                        <h4>{% translate "Billing Clerk" %}</h4>
                        <h5>{% translate "December 2016 - June 2017" %}</h5>
                        <p><em>West Beverages {% translate "Distribution" %}, Timișoara</em></p>
                        <ul>
                            <li>{% translate "I gained skills in managing invoices, issuing and organizing invoices for each vehicle and recording stock invoices in the database" %}</li>
                            <li>{% translate "I gained knowledge in accounting management, recording invoices, payment orders and agent receipts for primary accounting" %}</li>
                        </ul>
                    </div>
                    
                    <div class="resume-item">
                        <h4>{% translate "Retail / HoReCa Sales Agent" %}</h4>
                        <h5>{% translate "October 2014 - October 2016" %}</h5>
                        <p><em>West Beverages {% translate "Distribution" %}, Timișoara</em></p>
                        <ul>
                            <li>{% translate "I have acquired solid negotiation skills, working to expand the client portfolio and conclude contracts for easier achievement of monthly targets" %}</li>
                            <li>{% translate "I learned to collaborate effectively in a team, working together to help each other achieve our monthly objectives" %}</li>
                            <li>{% translate "I excelled in organization, scheduling client visits based on the availability of decision makers and efficiently managing the collection of overdue invoices" %}</li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>
            
        </div><!-- End container -->
    </section><!-- End Resume Section -->
    
    <!-- ======== Portfolio Section ======== -->
    <section id="portfolio" class="portfolio section-bg">
        <div class="container" data-aos="fade-up">
            
            <div class="section-title">
                <h2>{% translate "Portfolio" %}</h2>
                <p>{% translate "Passionate about every project I get involved in, my dedication and meticulous attention to every detail is evident. I leverage my creativity and technical skills to produce high quality results and continuously evolve in the area of web development." %}</p>
            </div>
            
            <div class="row">
                <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <ul id="portfolio-flters">
{#                        <li data-filter="*" class="filter-active">{% translate "All" %}</li>#}
                        <li data-filter=".filter-crm">{% translate "Real Estate CRM" %}</li>
                    </ul>
                </div>
            </div>
            
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-1.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Login Page" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Authentication" %}</h4>
                            <p>{% translate "Login Page" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-1.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Login Page" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-2.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Leads Menu" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Sidebar" %}</h4>
                            <p>{% translate "Leads Menu" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-2.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Leads Menu" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-3.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Customization Menu" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "System Design Settings" %}</h4>
                            <p>{% translate "Customization Menu" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-3.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Customization Menu" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-4.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Horizontal Layout" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Layouts" %}</h4>
                            <p>{% translate "Horizontal Layout" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-4.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Horizontal Layout" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-5.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Compact Vertical Layout" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Layouts" %}</h4>
                            <p>{% translate "Compact Vertical Layout" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-5.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Compact Vertical Layout" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-6.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Light Layout" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Leads" %}</h4>
                            <p>{% translate "Light Layout" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-6.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Light Layout" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-7.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Dark Layout" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Leads" %}</h4>
                            <p>{% translate "Dark Layout" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-7.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Dark Layout" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-8.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Add New Lead Menu" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Leads" %}</h4>
                            <p>{% translate "Add New Lead Menu" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-8.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Add New Lead Menu" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-9.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Add New Contact Modal" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Leads" %}</h4>
                            <p>{% translate "Add New Contact Modal" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-9.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Add New Contact Modal" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-10.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Create New Lead (Light Layout)" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Leads" %}</h4>
                            <p>{% translate "Create New Lead (Light Layout)" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-10.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Create New Lead (Light Layout)" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-11.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Create New Lead (Dark Layout)" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Leads" %}</h4>
                            <p>{% translate "Create New Lead (Dark Layout)" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-11.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Create New Lead (Dark Layout)" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 portfolio-item filter-crm">
                    <div class="portfolio-wrap">
                        <img src="{% static "img/portfolio/portfolio-12.jpeg" %}" class="img-fluid" 
                             alt="{% translate "Change Password Page" %}">
                        <div class="portfolio-info">
                            <h4>{% translate "Authentication" %}</h4>
                            <p>{% translate "Change Password Page" %}</p>
                            <div class="portfolio-links">
                                <a href="{% static "img/portfolio/portfolio-12.jpeg" %}" class="portfolio-lightbox" 
                                   data-gallery="portfolioGallery" title="{% translate "Change Password Page" %}">
                                    <i class="bi bi-images"></i></a>
                                <a href="{% url "portfolio_details_view" %}" class="portfolio-details-lightbox"
                                   data-glightbox="type: external"><i class="bi bi-info-square"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div><!-- End container -->
    </section><!-- End Portfolio Section -->
    
    <!-- ======== Services Section ======== -->
    <section id="services" class="services">
        <div class="container" data-aos="fade-up">
            
            <div class="section-title">
                <h2>{% translate "Services" %}</h2>
                <p>{% translate "As a junior Python programmer, I make valuable contributions through web development, automation of administrative tasks and project assistance, increasing the efficiency and effectiveness of any organization's operations." %}</p>
            </div>
            
            <div class="row">
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-blue">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,521.0016835830174C376.1290562159157,517.8887921683347,466.0731472004068,529.7835943286574,510.70327084640275,468.03025145048787C554.3714126377745,407.6079735673963,508.03601936045806,328.9844924480964,491.2728898941984,256.3432110539036C474.5976632858925,184.082847569629,479.9380746630129,96.60480741107993,416.23090153303,58.64404602377083C348.86323505073057,18.502131276798302,261.93793281208167,40.57373210992963,193.5410806939664,78.93577620505333C130.42746243093433,114.334589627462,98.30271207620316,179.96522072025542,76.75703585869454,249.04625023123273C51.97151888228291,328.5150500222984,13.704378332031375,421.85034740162234,66.52175969318436,486.19268352777647C119.04800174914682,550.1803526380478,217.28368757567262,524.383925680826,300,521.0016835830174"></path>
                            </svg>
                            <i class="bx bx-window-alt"></i>
                        </div>
                        <h4>{% translate "Website development and maintenance" %}</h4>
                        <p>{% translate "Creating and updating websites using frameworks like Django. These sites can include presentation pages, personal portfolios, online stores, etc." %}</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="zoom-in"
                     data-aos-delay="200">
                    <div class="icon-box iconbox-orange ">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,582.0697525312426C382.5290701553225,586.8405444964366,449.9789794690241,525.3245884688669,502.5850820975895,461.55621195738473C556.606425686781,396.0723002908107,615.8543463187945,314.28637112970534,586.6730223649479,234.56875336149918C558.9533121215079,158.8439757836574,454.9685369536778,164.00468322053177,381.49747125262974,130.76875717737553C312.15926192815925,99.40240125094834,248.97055460311594,18.661163978235184,179.8680185752513,50.54337015887873C110.5421016452524,82.52863877960104,119.82277516462835,180.83849132639028,109.12597500060166,256.43424936330496C100.08760227029461,320.3096726198365,92.17705696193138,384.0621239912766,124.79988738764834,439.7174275375508C164.83382741302287,508.01625554203684,220.96474134820875,577.5009287672846,300,582.0697525312426"></path>
                            </svg>
                            <i class="bx bx-slideshow"></i>
                        </div>
                        <h4>{% translate "Automation of administrative tasks" %}</h4>
                        <p>{% translate "Writing Python scripts to automate repetitive tasks within the organization such as processing files, extracting data from databases, generating automated reports, etc." %}</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0" data-aos="zoom-in"
                     data-aos-delay="300">
                    <div class="icon-box iconbox-pink">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,541.5067337569781C382.14930387511276,545.0595476570109,479.8736841581634,548.3450877840088,526.4010558755058,480.5488172755941C571.5218469581645,414.80211281144784,517.5187510058486,332.0715597781072,496.52539010469104,255.14436215662573C477.37192572678356,184.95920475031193,473.57363656557914,105.61284051026155,413.0603344069578,65.22779650032875C343.27470386102294,18.654635553484475,251.2091493199835,5.337323636656869,175.0934190732945,40.62881213300186C97.87086631185822,76.43348514350839,51.98124368387456,156.15599469081315,36.44837278890362,239.84606092416172C21.716077023791087,319.22268207091537,43.775223500013084,401.1760424656574,96.891909868211,461.97329694683043C147.22146801428983,519.5804099606455,223.5754009179313,538.201503339737,300,541.5067337569781"></path>
                            </svg>
                            <i class="bx bx-bar-chart-square"></i>
                        </div>
                        <h4>{% translate "Development of data analysis and reporting tools" %}</h4>
                        <p>{% translate "Creating scripts and programs to help with data analysis and processing, such as generating graphs, calculating statistics or manipulating CSV files" %}</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="100">
                    <div class="icon-box iconbox-yellow">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,503.46388370962813C374.79870501325706,506.71871716319447,464.8034551963731,527.1746412648533,510.4981551193396,467.86667711651364C555.9287308511215,408.9015244558933,512.6030010748507,327.5744911775523,490.211057578863,256.5855673507754C471.097692560561,195.9906835881958,447.69079081568157,138.11976852964426,395.19560036434837,102.3242989838813C329.3053358748298,57.3949838291264,248.02791733380457,8.279543830951368,175.87071277845988,42.242879143198664C103.41431057327972,76.34704239035025,93.79494320519305,170.9812938413882,81.28167332365135,250.07896920659033C70.17666984294237,320.27484674793965,64.84698225790005,396.69656628748305,111.28512138212992,450.4950937839243C156.20124167950087,502.5303643271138,231.32542653798444,500.4755392045468,300,503.46388370962813"></path>
                            </svg>
                            <i class="bx bx-task"></i>
                        </div>
                        <h4>{% translate "Desktop application development" %}</h4>
                        <p>{% translate "Creating desktop applications to solve specific problems, such as task management applications, note-taking applications, file conversion applications, etc." %}</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="200">
                    <div class="icon-box iconbox-teal">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,532.3542879108572C369.38199826031484,532.3153073249985,429.10787420159085,491.63046689027357,474.5244479745417,439.17860296908856C522.8885846962883,383.3225815378663,569.1668002868075,314.3205725914397,550.7432151929288,242.7694973846089C532.6665558377875,172.5657663291529,456.2379748765914,142.6223662098291,390.3689995646985,112.34683881706744C326.66090330228417,83.06452184765237,258.84405631176094,53.51806209861945,193.32584062364296,78.48882559362697C121.61183558270385,105.82097193414197,62.805066853699245,167.19869350419734,48.57481801355237,242.6138429142374C34.843463184063346,315.3850353017275,76.69343916112496,383.4422959591041,125.22947124332185,439.3748458443577C170.7312796277747,491.8107796887764,230.57421082200815,532.3932930995766,300,532.3542879108572"></path>
                            </svg>
                            <i class="bx bx-support"></i>
                        </div>
                        <h4>{% translate "Assist in the development of larger projects" %}</h4>
                        <p>{% translate "Providing support and help for more complex projects under the supervision of a senior programmer or mentor. This may include developing features, writing unit tests, troubleshooting code, etc." %}</p>
                    </div>
                </div>
                
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4" data-aos="zoom-in" data-aos-delay="300">
                    <div class="icon-box iconbox-red">
                        <div class="icon">
                            <svg width="100" height="100" viewBox="0 0 600 600" xmlns="http://www.w3.org/2000/svg">
                                <path stroke="none" stroke-width="0" fill="#f5f5f5"
                                      d="M300,566.797414625762C385.7384707136149,576.1784315230908,478.7894351017131,552.8928747891023,531.9192734346935,484.94944893311C584.6109503024035,417.5663521118492,582.489472248146,322.67544863468447,553.9536738515405,242.03673114598146C529.1557734026468,171.96086150256528,465.24506316201064,127.66468636344209,395.9583748389544,100.7403814666027C334.2173773831606,76.7482773500951,269.4350130405921,84.62216499799875,207.1952322260088,107.2889140133804C132.92018162631612,134.33871894543012,41.79353780512637,160.00259165414826,22.644507872594943,236.69541883565114C3.319112789854554,314.0945973066697,72.72355303640163,379.243833228382,124.04198916343866,440.3218312028393C172.9286146004772,498.5055451809895,224.45579914871206,558.5317968840102,300,566.797414625762"></path>
                            </svg>
                            <i class="bx bx-bug"></i>
                        </div>
                        <h4>{% translate "Maintain and debug existing code" %}</h4>
                        <p>{% translate "Ensuring existing code works correctly, identifying and fixing bugs, and improving code to meet new requirements and standards" %}</p>
                    </div>
                </div>
                
            </div>
            
        </div><!-- End container -->
    </section><!-- End Services Section -->
    
    <!-- ======== Contact Section ======== -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
            
            <div class="section-title">
                <h2>Contact</h2>
            </div>
            
            <div class="row mt-1">
                
                <div class="col-lg-4">
                    <div class="info">
                        
                        <div class="address">
                            <i class="bi bi-geo-alt"></i>
                            <h4>{% translate "Location" %}:</h4>
                            <p>Târgu Mureș, Mureș</p>
                        </div>
                        
                        <div class="email">
                            <i class="bi bi-envelope"></i>
                            <h4>E-mail:</h4>
                            <p><a href="mailto:contact@adrian-dolca.ro" title="contact@adrian-dolca.ro">
                                contact@adrian-dolca.ro</a></p>
                        </div>
                        
                        <div class="phone">
                            <i class="bi bi-phone"></i>
                            <h4>{% translate "Phone" %}:</h4>
                            <p><a href="tel:+40758767044" title="+40 758 767 044">+40 758 767 044</a></p>
                        </div>
                        
                    </div>
                </div>
                
                <div class="col-lg-8 mt-5 mt-lg-0">
                    
                    <form action="{% url "send_email" %}" method="post" role="form" class="email-form">
                        {% csrf_token %}
                        
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <input type="text" name="name" class="form-control" id="name" autocomplete="name" 
                                       placeholder="{% translate "Your Name" %}" required>
                            </div>
                            
                            <div class="col-md-6 form-group mt-3 mt-md-0">
                                <input type="email" class="form-control" name="email" id="email" autocomplete="email" 
                                       placeholder="{% translate "Your E-mail" %}" required>
                            </div>
                        </div>
                        
                        <div class="form-group mt-3">
                            <input type="text" class="form-control" name="subject" id="subject" 
                                   placeholder="{% translate "Subject" %}" required>
                        </div>
                        
                        <div class="form-group mt-3">
                            <textarea class="form-control" name="message" rows="4" 
                                      placeholder="{% translate "Message" %}" required></textarea>
                        </div>
                        
                        <div class="my-3">
                            <div class="loading">{% translate "Sending..." %}</div>
                            <div class="error-message">{% translate "Something went wrong! Please try again or use another contact method." %}</div>
                            <div class="sent-message">{% translate "Your message has been sent successfully. I will reply as soon as possible. Thank you!" %}</div>
                        </div>
                        
                        <div class="text-center">
                            <button type="submit">{% translate "Send Message" %}</button>
                        </div>
                        
                    </form>
                    
                </div>
                
            </div>
            
        </div><!-- End container -->
    </section><!-- End Contact Section -->
    
</main><!-- End #main -->

<!-- ======== Footer ======== -->
<footer id="footer">
    <div class="container">
        <h3>Adrian Dolca</h3>
        <p>"{% translate "Whether you think you can or you think you can't, you're right" %}." - Henry Ford</p>
        <div class="social-links">
            <a href="https://www.linkedin.com/in/adrian-dolca/" target="_blank" class="linkedin" title="LinkedIn"><i 
                    class="bx bxl-linkedin"></i></a>
            <a href="https://t.me/adrian_dolca" target="_blank" class="telegram" title="Telegram"><i
                    class="bx bxl-telegram"></i></a>
            <a href="https://github.com/dolca/" target="_blank" class="github" title="GitHub"><i
                    class="bx bxl-github"></i></a>
        </div>
        <div class="copyright">{% translate "Copyright" %} &copy; 
            <script>document.write(new Date().getFullYear())</script> 
            <strong><span>Adrian Dolca</span></strong><br>{% translate "All Rights Reserved" %}
        </div>
    </div><!-- End container -->
</footer><!-- End Footer -->

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="{% static "vendor/purecounter/purecounter_vanilla.js" %}"></script>
<script src="{% static "vendor/aos/aos.js" %}"></script>
<script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "vendor/glightbox/js/glightbox.min.js" %}"></script>
<script src="{% static "vendor/isotope-layout/isotope.pkgd.min.js" %}"></script>
<script src="{% static "vendor/swiper/swiper-bundle.min.js" %}"></script>
<script src="{% static "vendor/typed.js/typed.umd.js" %}"></script>
<script src="{% static "vendor/waypoints/noframework.waypoints.js" %}"></script>

<!-- Template Main JS Files -->
<script src="{% static "js/main.js" %}"></script>
<script src="{% static "js/validate.js" %}"></script>

</body>

</html>
